@import "tailwindcss";
@import "daisyui/dist/full.css"; 
body{
    background-image:url("/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center;
}

.label-text{
    color: white;
}